<div class="divcontainerFormInvoice">
  <div class="topBandHeaderDIV">
    <div id="TitleSpan" class="HeaderDIVLeft">Edit Faktur</div>
  </div>
  <form method="POST" id="formUpdateIvoice">
    <div class='newInvoiceContain'>
      <div class='divInvoiceGroup'>
        <input type="hidden" id="invoiceId" name="invoiceId" value="<%= this._id %>" />
        <table width='100%'>
          <tbody>
            <tr>
              <td class="labelLeft">
                <div class="mandatoryTxt">Pilih Pelanggan</div>
              </td>
              <td class="td_field">
                <input type="hidden" id="CustomerId" value="<%=this.CustomerId%>"/>
                  <input type='text' name="customer" id="selectcust" value="<%= this.Customer %>" required="required" oninput="setCustomValidity('')" oninvalid="setCustomValidity('pelanggan harus dipilih')" />
              </td>
              <td class="error">
                <label id="keteranganSelectCust"></label>
                <label id="currency"></label>
              </td>
            </tr>
            <tr valign="top">
              <td></td>
              <td>
                <label id="tambahPelangganEdit">Tambah Pelanggan</label>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class='divInvoiceGroup'>
        <table width='100%'>
          <tbody>
            <tr>
              <td class="labelLeft">
                <div class="mandatoryTxt">Nomor Faktur</div>
              </td>
              <td class="td_field">
                <input type='text' id='InvoiceNo' value="<%= this.InvoiceNo %>" readonly />
                </td>
              <td class='error'></td>
            </tr>
            <tr>
              <td class="labelLeft">Nomor PO</td>
              <td class="td_field">
                <input type='text' name='po' id='po' value="<%= this.PONo %>" /></td>
              <td class='error'></td>
            </tr>
            <tr>
              <td class="labelLeft">Tanggal Pembuatan Faktur</td>
              <td class="td_field">
                <input type="date" name='invoiceDate' id='invDate' value="<%= this.InvoiceDate %>" readonly/>
                </td>
              <td class='error'></td>
            </tr>
            <tr>
              <td class="labelLeft">Termin</td>
              <td class="td_field">
                <select name='terms' id='terms'>
                  <option class="TermOpt" value="15">15</option>
                  <option class="TermOpt" value="30">30</option>
                  <option class="TermOpt" value="45">45</option>
                  <option class="TermOpt" value="60">60</option>
                  <option class="TermOpt" value="0">Due On Receipt</option>
                  <option class="TermOpt" value="-1">Due on the specified date</option>
                </select>
              </td>
              <td class='error'></td>
            </tr>
            <tr>
              <td class="labelLeft">Tanggal Jatuh Tempo</td>
              <td class="td_field">
                <input type='date' name='dueDate' id='dueDate'  value="<%= this.DueDate %>" readonly/>
              </td>
              <td class='error'></td>
            </tr>
            <tr>
              <td class="labelLeft">Denda Keterlambatan</td>
              <td class="td_field">
                <select name='latefee' id='latefee'>
                  <option class="LateFeeOpt" value="15">Tidak ada denda</option>
                </select>
              </td>
              <td class='error'></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='divInvoiceGroup' id='divExchangeRate'>
        <table>
          <tr>
            <td class="labelLeft">Nilai Tukar Mata Uang</td>
            <td width='272px'>
              <div style="float: left; display: block; ">
                <input type="hidden" id="custCcyCode"/>
                <input type="text" readonly="" class="extRateLeftDIV" id="custCcy"/>
                <input type="text" id="custRate" class="extRateCenterInput" value="1"/>
                <input type="text" readonly="" class="exchangeRateTxtBox" id="baseCcy"/>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <table id='itemInvoice' cellpadding='5px'>
        <thead>
          <tr>
            <td class='barang'>Barang</td>
            <td class='desc'>Deskripsi</td>
            <td class='qty right'>Kuantitas</td>
            <td class='rate right'>Harga</td>
            <td class='disc right'>Diskon(%)</td>
            <td class='tax'>Pajak</td>
            <td class='amounthd right'>Jumlah</td>
            <td class='dltItem'></td>
          </tr>
        </thead>
        <tbody>
              
        </tbody>
        <tfoot>
          <tr>
            <td>
              <span id='addItemRowEdit'>Tambah Baris</span>
            </td>
            <td colspan='3'></td>
            <td colspan='2' class='right borderbottom'>Sub Total</td>
            <td class='right borderbottom'>
              <span id='subtotaltext'></span>
              <input type='hidden' id='subtotal'/>
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan='4'></td>
            <td colspan='2' class='right bold borderbottom graybgcolor'>Total (<span id='curr'></span>)</td>
            <td class='right bold borderbottom graybgcolor'>
              <span id='totaltext'></span>
              <input type='hidden' id='total'/>
            </td>
            <td></td>
          </tr>
        </tfoot>
      </table>

      <div class='divInvoiceGroup'>
        <table width='100%' cellpadding='0px'>
          <tr>
            <td width='40%'>
              <b class='boldlabel'>Catatan</b>
            </td>
            <td width='60%'>
              <b class='boldlabel'>Syarat Dan Ketentuan</b>
            </td>
          </tr>
          <tr>
            <td>
              <textarea name='custMsg' id='custMsg' class="CustomerMessageTxtArea"><%= this.Note %></textarea>
            </td>
            <td>
              <textarea name="termAndCond" id="termAndCond" class="TermsandConditionsTxtArea"><%= this.TermCondition %></textarea>
            </td>
          </tr>
        </table>
      </div>
      <div style="margin-top:30px">
        <p align="center" style="font-size:11px">
          <input id="UpdateInvoiceSave" type="submit" name="save" value="Simpan"/>
          atau
          <span style="text-decoration:underline; cursor:pointer; color:red; font-size : 11px" id="btnCancelInvoice">Batal</span>
        </p>
      </div>
    </div>
  </form>
  <div class="error" id="errorUpdateInv"></div>
</div>
