<table style="width:100%; margin-bottom:25px">
  <tr>
    <td>
      <div class="ListItemDiv">
        <div class="HeaderListDiv">Barang</div>
        <div class="ItemListContentDiv">
          <div class="ActionButtonDiv">
            <input type="button" id="createEstimation" value="Buat Estimasi" style="height:20px;" />
            <input type="button" id="createinvoice" value="Buat Faktur Penjualan" style="height:20px;" />
            <input type="button" id="deleteItem" value="Hapus" style="height:20px;" />
            <button type="button" id="searchItem" style="height:20px; float:right;">
              <img style="width:15px;height:15px;vertical-align:top;" src="/sales/controllers/items/list/images/search.png"/>
              Cari Barang
            </button>
          </div>
          <table class="ItemList">
            <thead>
              <tr>
                <th class="headerList headerMark">
                  <input type="checkbox" id="checkBoxAllList" value="" />
                </th>
                <th class="headerList headerEvent"></th>
                <th class="headerList headerItems" >Nama Barang</th>
                <th class="headerList headerPrice" >Harga</th>
              </tr>
            </thead>
            <tbody>
                <!--<%for(var i = 0; i< this.length ; i++){%>
                <tr id="itemContent<%= i %> " tabindex="<%= i %>">
                  <td class="itemList"><input type="checkbox" id="checkBoxItem<%= i %>" value="" /></td>
                  <td class="itemList"><div class="settingButton" id="settingButton<%= i %>"><img class="" src="/sales/controllers/items/list/images/setting.png"/></div></td>
                  <td class="itemList"> <%= this[i].namaBarang %> </td>
                  <td class="itemList"> <%= this[i].hargaBarang %></td>
                </tr>
                <%}%>-->
            </tbody>
          </table>
        </div>
        <div class ="paginationDiv">
          <div class ='DivNext'>
            <img id='firstButton' class ='paginationButton'></img>
            <img id='prevButton' class ='paginationButton'></img>
          </div>
          <div class ='DivPage'>
            Page <input type='text' id='idInputPage' style="width:20px; height:14px"/> of <span id="totalPage"></span>
          </div>
          <div class='DivPrev'>
            <img id='nextButton' class ='paginationButton'></img>
            <img id='lastButton' class ='paginationButton'></img>
          </div>
          <div class='DivlimitData'>
            <select class="limit" id="limitData" style="width:50px; height:21px">
              <option value="1" selected="selected"> 1 </option>
              <option value="2"> 2 </option>
              <option value="3"> 3 </option>
              <option value="5"> 5 </option>
            </select>
          </div>
        </div>
      </div>
    </td>
    <td style="width:20%;vertical-align:top; padding:30px 0 0 10px;">
      <button type="button" id="gotoCreateItem" >
        <img style="width:15px;height:15px;vertical-align:top;" src="/sales/controllers/items/list/images/add.png"/>
        Tambah Barang
      </button>
    </td>
  </tr>
</table>