<form id='AddCustomers'>
  <div class='FormNewCustomer'>
    <div class="topBandHeaderDIV">
      <div id="TitleSpan" class="HeaderDIVLeft">Ubah Pelanggan</div>
    </div>
    <div class = 'CreateNewCustomer'>
      <table class="FormNewCuscotmer">
        <tbody>
          <tr>
            <td>
              <div class="mandatoryTxt">Nama Pelanggan</div>

            </td>
            <td class="td_field">
                <input type="hidden" name="id" id="id" hidden="hidden" value="<%= item._id %>"/>
                  <input type="text" name="CustomerName" id="inputText_CustomerName" value="<%= item.Name %>"/>
                </td>
            <td class="error"></td>
          </tr>
          <tr>
            <td >
              <div class="mandatoryTxt">Mata Uang</div>
            </td>
            <td class="td_field">
              <select class="td_field_customer" name="CustomerCcy"  id="inputSelect_CustomerCurrency">
                <option value ="IDR" selected="selected"> IDR - Rupiah </option>
                <option value ="USD"> USD - US Dollar </option>
              </select>
            </td>
            <td class="error"></td>
          </tr>
          <tr>
            <td class="labelLeft">Jangka Pembayaran </td>
            <td class="td_field">
              <select class="td_field_customer" name="term" id="inputSelect_PaymentsTerms">
                <option value="15 hari" selected="selected"> 15 hari </option>
                <option value="30 hari"> 30 hari</option>
                <option value="45 hari"> 45 hari</option>
                <option value="60 hari"> 60 hari</option>
                <option value="Saat Menerima Kuitansi"> Saat Menerima Kuitansi </option>
              </select>
            </td>
            <td class="error"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class = 'CreateNewCustomer'>
      <table class="FormNewCuscotmer">
        <tbody>
          <tr>
            <td class="labelLeft">
              Alamat Pembayaran <br /><span style="font-weight: normal; line-height: 10px;">(Max 200 chars)</span>
            </td>
            <td class="td_field">
              <textarea rows = "4" name="billingAddress" cols="40" id="inputTextarea_BillingAddress" maxlength="200"><%= item.BillingAddress%></textarea>
            </td>
            <td class="error"></td>
          </tr>
          <tr>
            <td class="labelLeft">Kota</td>
            <td class="td_field">
              <input type="text" name="city" id="inputText_City" value="<%= item.City%>"/>
              </td>
            <td class="error"></td>
          </tr>
          <tr>
            <td class="labelLeft">Provinsi</td>
            <td class="td_field">
              <input type="text" name="province" id="inputText_StateProvince" value="<%= item.Province%>"/>
              </td>
            <td class="error"></td>
          </tr>
          <tr>
            <td class="labelLeft">Kode Pos</td>
            <td class="td_field">
              <input type="text" name="zip" id="inputText_ZIPPostalCode" value="<%= item.PostalCode%>"/>
              </td>
            <td class="error"></td>
          </tr>
          <tr>
            <td class="labelLeft">Negara</td>
            <td class="td_field">
              <input type="text" name="country" id="inputText_Country" value="<%= item.State%>" readonly="readonly"/>
              </td>
            <td class="error"></td>
          </tr>
          <tr>
            <td class="labelLeft">Fax</td>
            <td class="td_field">
              <input type="text" name="fax"  id="inputText_Fax" value="<%= item.Fax%>"/>
            </td>
            <td class="error"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class = 'CreateNewCustomer' id='Editaddress'>
      <table class="FormNewCuscotmer">
        <tbody>
          <tr>
            <td colspan="3">
              <div class="judulAlamatPengiriman">Alamat Pengiriman</div>
            </td>
          </tr>
          <tr>
            <td class="labelLeft">
              Alamat Pengiriman <br /><span style="font-weight: normal; line-height: 10px;">(Max 500 chars)</span>
            </td>
            <td class="td_field">
              <textarea rows = "4" cols="40" name="shipmentAddress" id="inputTextarea_NewCust_ShipmentAddress"><%= item.ShipmentAddress%></textarea>
            </td>
            <td class="error"></td>
          </tr>
          <tr>
            <td class="labelLeft">Kota</td>
            <td class="td_field">
              <input type="text" name="shipmentCity" id="inputText_NewCust_City" value="<%= item.ShipmentCity%>"/>
              </td>
            <td class="error"></td>
          </tr>
          <tr>
            <td class="labelLeft">Provinsi</td>
            <td class="td_field">
              <input type="text" name="shipmentStateProvince" id="inputText_NewCust_StateProvince" value="<%= item.ShipmentStateProvince%>"/>
              </td>
            <td class="error"></td>
          </tr>
          <tr>
            <td class="labelLeft">Kode Pos</td>
            <td class="td_field">
              <input type="text" name="shipmentZIPPostalCode" id="inputText_NewCust_ZIPPostalCode" value="<%= item.ShipmentZIPPostalCode%>"/>
              </td>
            <td class="error"></td>
          </tr>
          <tr>
            <td class="labelLeft">Negara</td>
            <td class="td_field">
              <input type="text" name="shipmentCountry" id="inputText_NewCust_Country" value = "Indonesia" value="<%= item.ShipmentCountry%>"/>
              </td>
            <td class="error"></td>
          </tr>
          <tr>
            <td class="labelLeft">Fax</td>
            <td class="td_field">
              <input type="text" name="shipmentFax" id="inputText_NewCust_Fax" value="<%= item.ShipmentFax%>"/>
              </td>
            <td class="error"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class = 'CreateNewCustomer'>
      <table class="FormNewCuscotmer">
        <tbody>
          <tr>
            <td class="labelLeft">Nama Anda</td>
            <td class="td_field">
              <select class="field_select" name="salutation" id="inputSelect_PersonName">
                <option value ="" selected="selected"></option>
                <option value ="Bapak"> Bapak </option>
                <option value ="Ibu"> Ibu. </option>
              </select>
              <input type="text" class="text" name="firstName" id="inputText_FirstName" value="<%= item.FirstName%>"/>
              </td>
            <td class="error">
              <input type="text" class="text" name="lastName" id="inputText_LastName" value="<%= item.LastName%>"/>
              </td>
          </tr>
          <tr>
            <td class="labelLeft">Telpon#</td>
            <td class="td_field">
              <input type="text" name="cellular" id="inputText_Seluler" value="<%= item.MobilePhone%>"/>
              </td>
            <td class="error">
              <input type="text" class="text" name="telephone" id="inputText_Phone" value="<%= item.Phone%>"/>
              </td>
          </tr>
          <tr>
            <td class="labelLeft">E-mail</td>
            <td class="td_field">
              <input style="width:99%" type="email" name="email" id="inputText_Email"  value="<%= item.Email%>"/>
            </td>
            <td class="error"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class = 'CreateNewCustomer' id='DivCustomField'>
      <img class = "add"/>
      <span id = "addCustomField" style="text-decoration:underline; cursor:pointer; color:blue; font-size : 11px">Tambah Informasi</span>
    </div>
    <div class = 'CreateNewCustomer' id="CustomField">
      <table class="FormNewCuscotmer">
        <tbody>
          <tr>
            <td>
              <div>
                <h3>Menambah Rincian</h3>
                <span style="font-size : 12px;">Tambahan Informasi Pelanggan Perusahaan Seperti No PPN, No Perusahaan dll</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <table class="Field">
                <tbody>
                  <tr>
                    <td class = "fieldCustom">
                      <div>Field Name</div>
                    </td>
                    <td class = "space"></td>
                    <td class="value">
                      <div>Value</div>
                    </td>
                  </tr>
                  <tr>
                    <td class = "fieldCustom">
                      <input type="text" name="add_fieldCustID1" id="inputText_FieldName1" value="<%= item.AddFieldCustID1%>"/>
                      </td>
                    <td class = "space"></td>
                    <td class="value">
                      <input type="text" name="add_valueCustID1" id="inputText_ValueName1" value="<%= item.AddValueCustID1%>"/>
                      </td>
                  </tr>
                  <tr>
                    <td class = "fieldCustom">
                      <input type="text" name="add_fieldCustID2" id="inputText_FieldName2" value="<%= item.AddFieldCustID2%>"/>
                    </td>
                    <td class = "space"></td>
                    <td class="value">
                      <input type="text" name="add_valueCustID2" id="inputText_ValueName2"  value="<%= item.AddValueCustID3%>"/>
                    </td>
                  </tr>
                  <tr>
                    <td class = "fieldCustom">
                      <input type="text" name="add_fieldCustID3" id="inputText_FieldName3" value=""<%= item.AddFieldCustID3%>"/>
                    </td>
                    <td class = "space"></td>
                    <td class="value">
                      <input type="text" name="add_valueCustID3" id="inputText_ValueName3"  value="<%= item.AddValueCustID3%>"/>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <div class="checkboxLabelDiv">
                <input type="checkbox" name="checkbox_specifyShippingAddress" id="inputCheckbox_SpecifyShippingAddress"/>
                <label for="inputCheckbox_SpecifyShippingAddress" class="labelStyle"> Jadi Informasi Tambahan Ini Untuk Digunakan Di Perusahaan Ini </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="margin-top:30px">
      <p align="center" style="font-size:11px">
        <input id="EditCustomerSave" type="submit" class="CreateCustomerBtn" name="save" value="Save"/>
        or
        <span style="text-decoration:underline; cursor:pointer; color:red; font-size : 11px">Cancel</span>
      </p>
    </div>
  </div>
</form>