<table width="100%" cellpadding="0" border="0" id="tbllistinvoice">
  <tbody>
    <tr>
      <td valign="top" class="bodyBgCenter">
        <div class="invoicesContainer">
          <div class="topBandHeaderDIV">
            <div id="TitleSpan" class="HeaderDIVLeft">Faktur</div>
          </div>
          <div class="error" id="errorListInv"></div>
          <div class="invoiceContain">
            <div class="ActionButtonDiv">
              <table id ="tblMenuInvoice" width="1000px">
                <tr id ="trMenuInvoice">
                  <td id="tdMenuInvoiceLeft" width="700px">
                    <div class="leftMenu menuDelete" id="deleteinvoice">
                      <div class="hapusCaption">Hapus</div>
                      <div class="iconHapusinvoice"></div>
                    </div>
                    <div class="leftMenu menuApproveInvoice" id="approveinvoice">
                      <div class="hapusCaption">Setujui</div>
                      <div class="iconSetujuiinvoice"></div>
                    </div>
                    <div class="leftMenu menuCancelInvoice" id="cancelinvoice">
                      <div class="hapusCaption">Batal</div>
                      <div class="iconBatalinvoice"></div>
                    </div>
                    <div class="leftMenu menuForceCancelInvoice" id="forceCancelinvoice">
                      <div class="hapusCaption">Batal Paksa</div>
                      <div class="iconBatalPaksainvoice"></div>
                    </div>
                  </td>
                  <td id="tdMenuInvoiceRight" width="300px">
                    <table id="subMenuInvoiceRight" width="100%">
                      <tr id="trsubMenuInvoiceRight">
                        <td id="tdsubMenuInvoiceRight" width="30%">
                          <div class="floatLeft" id="titelMenuInvoice"></div>
                        </td>
                        <td id="tdsubMenuInvoiceRight" width="70%">
                          <div class=" floatLeft">
                            <div class="DivSearch">
                              <div class="imgSearch">
                                <input type="input" id="SearchInvoice" placeholder="Cari"/>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            <table width="100%" cellpadding="5px" id="tblListInvoice">
              <thead>
                <tr>
                  <td class="tblCheck"><input type="checkbox" id="selectall"></input></td>
                  <td class="tblCheck" style="width:30px"></td>
                  <td class="tblNoInv">Nomor Faktur</td>
                  <td class="tblPO">Nomor PO</td>
                  <td class="tblNamaPelanggan">Nama Pelanggan</td>
                  <td class="tblTanggal center">Tanggal</td>
                  <td class="tblTotal right">Total</td>
                  <td class="tblDue center">Jatuh Tempo</td>
                  <td class="tblBalance right">Sisa Tagihan</td>
                  <td class="tblStatus center">Status</td>
                </tr>
              </thead>
              <tbody class ="bodyDataInvoice">
                <%for(var i=0; i<this.length ; i++){%>
                  <tr class="trbodyDataInvoice" id="trbodyDataInvoice<%= i%>" tabindex ="<%= i%>">
                    <td>
                      <input type="checkbox" class="selectInvoice" id="<%= i%>"></input>
                    </td>
                    <td id="tdDataInvoice<%= i%>">
                      <div class="settingListInvoice" id="settingListInvoice<%= i%>" tabindex="<%= i%>">
                      <img class='' src='/sales/images/setting.png'/>
                      </div>
                      <div class="ContextMenuInvoice" id="ContextMenuInvoice<%= i%>">
                        <div class="itemContextMenuInvoice" id="actionEdit">
                          <div class="EditImagContextMenu_ListInvoice invoiceImgContextMenu"></div>
                          <span class="EditContextMenuInvoive spanContextMenuListInvoice" id="<%=this[i]._id%>">Ubah</span>
                        </div>

                        <div class="itemContextMenuInvoice" id="actionApprove">
                          <div class="ApproveImagContextMenu invoiceImgContextMenu"></div>
                          <span class="ApproveContextMenuInvoive spanContextMenuListInvoice" id="<%=this[i]._id%>">Setujui</span>
                        </div>

                        <div class="itemContextMenuInvoice" id="actionCancel">
                          <div class="CancelImagContextMenu invoiceImgContextMenu"></div>
                          <span class="CancelContextMenuInvoive spanContextMenuListInvoice" id="<%=this[i]._id%>">Batal</span>
                        </div>
                        
                        <div class="itemContextMenuInvoice" id="actionForceCancel">
                          <div class="CancelImagContextMenu invoiceImgContextMenu"></div>
                          <span class="ForceCancelContextMenuInvoive spanContextMenuListInvoice" id="<%=this[i]._id%>">Batal Paksa
                          </span>
                        </div>
                        <div class="itemContextMenuInvoice">
                          <div class="RecordPaymentImagContextMenu invoiceImgContextMenu"></div>
                          <span class="RecordPaymentContextMenuInvoive spanContextMenuListInvoice" id="<%=this[i]._id%>">Catat Pembayaran
                          </span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="invNo" id="<%=i%>"><input type="hidden" id='invoiceId_<%=i%>' value="<%=this[i]._id %>"/><%=this[i].InvoiceNo%></span>
                    </td>
                    <td><%=this[i].PONo%></td>
                    <td><%=this[i].Customer%></td>
                    <td class="center"><%=this[i].InvoiceDate%></td>
                    <td class="right"><%=this[i].Total%></td>
                    <td class="center"><%=this[i].DueDate%></td>
                    <td class="right"><%=this[i].name%></td>
                    <td class="center"><%=this[i].Status%></td>
                  </tr>
                <%}%>
              </tbody>
            </table>
          </div>
          <div class ='PaggingInvoice'>
            <div class ='DivPrevInvoice'>
              <img class ='firstInvoice pagingSizeInvoice'></img>
              <img class ='prevInvoice pagingSizeInvoice'></img>
            </div>
            <div class ="disablePrevInvoice" style="display:none;">
              <img class ='firstDisableInvoice pagingSizeInvoice'></img>
              <img class ='prevDisableInvoice pagingSizeInvoice'></img>
            </div>
            <div class ='DivPageInvoice'>
              Halaman <input type='text' id='idInputPageInvoice' style="width:20px; height:14px"/> dari <span id="totalPageInvoice"></span>
            </div>
            <div class='DivNextInvoice'>
              <img class ='nextInvoice pagingSizeInvoice'></img>
              <img class ='lastInvoice pagingSizeInvoice'></img>
            </div>
            <div class ="disableNextInvoice" style="display:none;">
              <img class ='nextDisableInvoice pagingSizeInvoice'></img>
              <img class ='lastDisableInvoice pagingSizeInvoice'></img>
            </div>
            <div class='DivlimitDataInvoice'>
              <select class="limit" id="limitDataInvoice" style="width:50px; height:21px">
                <option value="10" selected="selected"> 10 </option>
                <option value="20"> 20 </option>
                <option value="30"> 30 </option>
                <option value="40"> 40 </option>
              </select>
            </div>
          </div>
        </div>
      </td>
      <td class="bodyBgRight" valign='top'>
        <div class='BtnNew' id='newinvoices'>Faktur Baru</div>
      </td>
    </tr>
  </tbody>
</table>