<table width="100%" cellpadding="0" border="0" id="tbllistinvoice">
  <tbody>
    <tr>
      <td valign="top" class="bodyBgCenter">
        <div class="invoicesContainer">
          <div class="topBandHeaderDIV">
            <div id="TitleSpan" class="HeaderDIVLeft">Invoices</div>
          </div>
          <div class="invoiceContain">
            <div class="ActionButtonDiv">
              <input type="button" id="deleteinvoice" value="Hapus" style="height:20px;" />
              <div class="rightbuttonarea">Show: 
                <input type="button" id="searchinvoice" value="Search" style="height:20px;" />
              </div>
            </div>
            <table width="100%" cellpadding="5px" id="tblListInvoice">
              <thead>
                <tr>
                  <td class="tblCheck"><input type="checkbox" id="selectall"></input></td>
                  <td class="tblCheck" style="width:35px"></td>
                  <td class="tblNoInv">Invoice#</td>
                  <td class="tblPO">P.O.#</td>
                  <td class="tblNamaPelanggan">Nama Pelanggan</td>
                  <td class="tblTanggal">Tanggal</td>
                  <td class="tblDue">Sampai</td>
                  <td class="tblTotal right">Total</td>
                  <td class="tblBalance right">Balance Due</td>
                  <td class="tblStatus">Status</td>
                </tr>
              </thead>
              <tbody class ="bodyDataInvoice">
                <%for(var i=0; i<this.length ; i++){%>
                  <tr class="trbodyDataInvoice" id="trbodyDataInvoice<%= i%>" tabindex = "<%= i%>">
                    <td>
                      <input type="checkbox" class="selectInvoice"></input>
                    </td>
                    <td id="tdDataInvoice<%= i%>">
                      <div class="settingListInvoice" id="settingListInvoice<%= i%>" tabindex="<%= i%>">
                      <img class='' src='/sales/controllers/customers/images/setting.png'/>
                      </div>
                      <div class="ContextMenuInvoice" id="ContextMenuInvoice<%= i %>">
                        <div class="EditImagContextMenu"></div>
                        <div class="itemContextMenuInvoice">
                          <span class="EditContextMenuInvoive">Ubah
                          </span>
                        </div>
                      </div>
                    </td>
                    <td><%=this[i].InvoiceNo%></td>
                    <td><%=this[i].PONo%></td>
                    <td><%=this[i].Customer%></td>
                    <td><%=this[i].InvoiceDate%></td>
                    <td><%=this[i].DueDate%></td>
                    <td class="right">
                      <%=this[i].Total%>
                    </td>
                    <td class="right"><%=this[i].name%></td>
                    <td><%=this[i].Status%></td>
                  </tr>
                <%}%>
                
              </tbody>
            </table>
          </div>
        </div>
      </td>
      <td class="bodyBgRight" valign='top'>
        <div class='BtnTambahCustomer' id='newinvoices'>Invoice Baru</div>
      </td>
    </tr>
  </tbody>
</table>